/* ===== (PC -> Tablet까지) 768px 이후 ~ ===== */
@media screen and (min-width: 768px) {
  .mobile_menu_toggle {
       display: none;
  }
  
  #mobile-nav,
  .menu-overlay {
    display: none;
  }

}




/* ===== 1200px 이하 ===== */
@media screen and (max-width: 1200px) {
  
  .main-banner {
    width: 100%;
    height: auto;
  }

  .about-me {
    width: 100%;
  }

  .about-wrap {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .id-card-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.5rem;
  }

  .id-card {
    flex: 1;
    /* max-width: 360px; */
  }

  .myth-card {
    display: flex;
    /* flex-direction: column; */
    line-height: 1.2;
    gap: 2.5rem;
    height: auto;
  }

  .myth-card-left {
    width: 100%;
    max-width: 500px;
    display: flex;
    align-items: center;
    gap: 2.5rem;
  }
  
  .card-ex-wrap {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }

  .vision-card-wrap {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2.5rem;
    justify-items: center;
  }
   
}

/* ===== 1024px 이하 (태블릿) ===== */
@media screen and (max-width: 1024px) and (min-width: 768px){
  .main-banner {
    width: 100%;
    height: auto;
  }

  .about-me {
    width: 100%;
  }

  .id-card-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .id-card {
    flex: 1;
  }

  .my-strength {
    width: 100%;
  }
  
  .myth-card-wrap {
    align-items: center;
  }

  .myth-card {
    display: flex;
    height: auto;
    gap: 2.5rem;
    padding: 18px 32px;
  }

  .myth-card-left {
    width: 100%;
    max-width: 260px;
    display: flex;
    align-items: center;
    gap: 2rem;
  }
  
  
  .card-ex-wrap {
    width: 450px;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .card-ex-wrap h4 {
    text-align: left;
  }

  .vision-card-wrap {
    display: grid;
    grid-template-columns: 1fr;
    gap: 40px;
    justify-items: center;
  }
}

/* ===== 768px 이하 (모바일 큰 화면) ===== */
@media screen and (max-width: 768px){    
  .topbar-inner {
    display: flex;
    justify-content: space-between;
  }
  
  header {
    grid-template-columns: auto 1fr auto;
    height: 64px; 
  }

  header .mobile {
    display: flex;
    align-items: center;
  }
  
  header .mobile button {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  
  .pc-nav {
    display: none;
  }
  
  /* #mobile-nav {
    display: none;
  } */

  #mobile-nav header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    /* margin-bottom: 40px; */
  }

  #mobile-nav #close {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 1000;
  }

  .about-wrap {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  
  .about-wrap span {
    font-weight: 500;
  }
  
  .myth-card {
    display: flex;
    flex-direction: column;
    padding: 20px 0;
  }

  .myth-card-left {
    width: 100%;
    max-width: 260px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }

  .myth-card-left > .card-diagram-01 img {
    width: 100%;
    max-width: 280px;
  }

  .id-card-wrap {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    /* padding-top: 100px; */
  }

  .all-skill-row {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
  }

  .vision-card-wrap {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2.5rem;
    justify-items: center;
  }

}

/* ===== 480px 이하 (모바일) ===== */
@media screen and (max-width: 480px){
  .container {
    padding: 0 30px;
  }

  header {
    grid-template-columns: auto 1fr auto;
    height: 64px; 
  }
  
  .pc-nav {
    display: none;
  }

  #mobile-nav {
    width: 100%;
  }

  #mobile-nav header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  #mobile-nav #close {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 1000;
  }

  #mobile-nav #close img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  .mobile_menu_toggle {
    position: relative;
    width: 44px;
    height: 44px;
    cursor: pointer;
    z-index: 999;
  }

  .mobile_menu_toggle img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: block;
  }

  .main-banner img{
    width: 100%;
    height: 240px;
    object-fit: cover;
  }

  .designer-identity {
    padding: 3rem 0 4rem;
  }
  
  .myth-card-wrap {
    text-align: left;
  }

  .myth-card {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    height: auto;
    padding: 18px 20px;
  }



  .card-ex-wrap {
    display: flex;
    flex-direction: column;
    gap: 0.625rem;
    /* width: 300px; */
  }

  .card-ex-wrap p {
    max-width: 218px;
  }
    
  .design-skill-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .vision-card-wrap {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2.5rem;
    justify-items: center;
  }

  .vision-card {
    width: 100%;
    max-width: 320px;
    height: 260px;
    padding: 24px 22px;
    border-radius: 32px;
    background: linear-gradient(
    135deg,
    #E6E4F7 0%,
    #FAFAFA 40%,
    #E1DFF5 100%
    );
    border: 0.5px solid #DBD7FF;
    position: relative;
  }

  .next-btn {
    width: 100%;
    min-height: 140px;
  }

  .next-btn a {
    width: 100%;
    min-height: 140px;
  }

  .next-btn span {
    font-size: calc(var(--default-FZ)*2.5);
  }
}

